html, body, #map {
    width:100%;
    height:100%;
    padding:0px !important;
    margin:0px !important;
}
#feature_infos {
    width:25%;
    height: 25%;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top:0px;
    right:0px;
    padding:5px;
    border:1px solid grey;
    display:none;
}
#info {
    font-weight:bold;
    color:red;
}